
@media (max-width: 959.98px){
    .agreement-container h1, h4,p,ol,ul{
        font-size: 1rem;
    }
    .agreement-container{
        margin-bottom: 5rem !important;
    }
}

.agreement-container{
    width: 90%;
    margin: 0 auto;
    direction: rtl;
    font-size: 1.3rem;
    padding: 2rem;
    color: var(--second-color);
}
.agreement-container h1{
    color: var(--main-color);
    font-weight:900;
}
.agreement-container h4{
    font-weight: 700;
}
.agreement-container p{
    font-weight: 500;
}
.agreement-container ol{
    padding:0 2rem;
}
.agreement-container ul{
    padding:0 2rem;
}