
  
  /* profile */
  
  .profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
  }
  .profile-pic i{
      font-size: 8rem;
      color: var(--main-color);
  }
  .profile-details-container{
    width: 40%;
    margin: 0 auto;
    max-width: 30rem;
    
  }
  
  
  /* products */
  
  .navbar-product {
    display: flex;
    background-color: var(--second-color);
    margin-bottom: 20px;
    border-radius: .5rem;
    direction: rtl;
    
  }
  .navbar-product div {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
  }
  .navbar-product div i{
    font-size: 1.5rem;
  }
  .navbar-product div:hover {
    background-color: var(--main-color);
  }
  .section {
    display: none;
    margin-bottom: 20px;
    color: var(--second-color);
    direction: rtl;
  }
  .product2{
    display: grid;
    grid-template-columns: .5fr 1fr;
    margin-bottom: 1rem;
    align-items: center;
  }
  .product2 img{
    width: 9rem;
    height: 13rem;
    object-fit: cover;
    border-radius: .5rem;
  }
  #title{
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-color);
  }

  .row2{
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    margin-bottom: 1rem;
  }
  .row-full2{
    width: 100%;
  }
  .row2 p {
    background-color: var(--third-color);
    border-radius: .5rem;
  }
  .row-full2 button
  {
  width: 100%;
  }
  .fillable{
    background-color: var(--third-color);
  }
  .titlerow{
    background-color: transparent;
  }
  .row2 button{
    background-color: var(--main-color);
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    padding: 0.2rem .3rem ;
  }
  
  .product2 p{
    font-weight: 300;
    padding: 0 1.2rem;
  }
  .grand{
    font-weight: 700;
  }
  .pagination2 {
    display: flex;
    justify-content: center;
  }
  .pagination2 button {
    padding: 0 .5rem; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
  }
  .pagination2 button:disabled {
    background-color: transparent;
    cursor: not-allowed;
  }
  .pagination2 button i{
    font-size: 2rem;
    color:var(--main-color)

  }
  #next-page{
    transform: rotate(180deg);
  }
  #prev-page{
    padding-top: 1.1rem;
  }
  /* products */
  /* delivery addreses */
.container {
    margin: 0 auto;
    border-radius: 5px;
}
.row {
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}
.row.full-width {
    flex-direction: column;
}
.row > div {
    flex: 1;
}
.row > div:first-child {
    padding-left: 0;
}
.row > div:last-child {
    padding-right: 0;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.full-width {
    width: 100%;
}
.disabled-field {
    background-color: var(--second-color);
    cursor: not-allowed;
}
.address-form {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.address-form.selected {
    border-color: var(--main-color);
}
.address-form .select-default {
    display: flex;
    justify-content: flex-end;
}
.address-form input ,select{
  margin-left: 10px;
  direction: rtl;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--third-color);
  outline: none;
  border: none;
  border-radius: .5rem;
}
.container button{
  background-color: var(--third-color);
  outline: none;
  border: none;
  border-radius: .5rem;
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}
  /* profile */

  /* alert */

  .alert-container {
    display: none; /* Hidden by default */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--main-color);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.alert-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.alert-box p {
    margin: 0 0 20px;
}

.alert-box button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.alert-box button:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}


/* change pass */

.container-pass {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em;
  border-radius: 8px;
  background-color: var(--third-color);

}


.container-pass .form-group {
  display: flex;
  flex-direction: column;
}


.container-pass label {
  margin-bottom: 0.5em;
  font-weight:500;
}


.container-pass input {
  padding: 0.5em;
  padding-right: 1rem;
  border: none;
  outline: none;
  border-radius: .5rem;
}


.container-pass button {
  padding: 0.7em;
  border: none;
  border-radius: .5rem;
  background-color: var(--main-color);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  width: 25%;
  margin: 0 auto;
  margin-top: 2rem;
}


.big-container {
  display: grid;
  width: 85%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.row-product {
  width: 100%;
  height: 18rem;
  background-color: var(--third-color);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.heart {
  color: #fff;
  position: absolute;
  font-size: 1.5rem;
  right: 1rem;
  top: .5rem;
  z-index: 100;
  cursor: pointer;
}

.bag {
  color: var(--main-color);
  position: absolute;
  font-size: 1.7rem;
  height: 2.7rem;
  width: 2.7rem;
  bottom: -2px;
  right: -3px;
  background-color: #fff;
  padding: 0px 8px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 101;
  cursor: pointer;
}

.product-price {
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: left;
  right: .7rem;
  bottom: -.3rem;
  width: 5.5rem;
  background-color: var(--main-color);
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
}

.images-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

.dots {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: var(--main-color);
}
/* product grid  */
#wishlist .pagination2{
  margin-top: 2rem;
}
#next-page-pro{
  rotate: 180deg;
}
#prev-page-pro
{
  padding-top: 1rem;
}